canvas{
    border-style: 1px solid black;
}
#canvas {
    width:300px;
    height: 400px;
    background-color: #f6f6f6;
    display: block;
    margin:0px auto;
}

@media screen and (min-width: 740px) {
    #canvas{ width:640px; }
}
@media screen and (min-width: 1000px) {
    #canvas{ width:920px; }
}
@media screen and (min-width: 1260px) {
    #canvas{ width:1120px;  height:500px; }
}
@media screen and (min-width: 1580px) {
    #canvas{ width:1320px; }
}